body{
    background:black;
}

.page-wrapper{
    background-color: whitesmoke;
    width:80%;
    margin:0 auto;
    box-sizing: border-box;
   
}

.overall-container{
    display: flex;
}

.left-container{
    background: linear-gradient(180deg, #7755FF 0%, #6943FF 0.01%, #2F2CE9 100%);
    padding:10px;
    color:white;
}

.summary{
    justify-content: space-between;
    gap:15em;
    display: flex;
    align-items: center;
    
}
.subjects{
    display: flex;
    place-items: center;
    gap:1rem;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }